---
---
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans');

body, html { font-family: 'Open Sans', sans-serif; background: #fff;}

//FF6138

main { margin-top: 53px; }
	article { padding-top:1em; }

	.post-image { height: 100vh; transition: filter 0.5s ease, padding 0.8s linear;}
	.post-image-small { height: 30vh; }
	.post-image:hover { filter: brightness(125%); }
	.post-info { 
		position: relative;
	    top: 35%;
	    -webkit-transform: translateY(-35%);
	    -ms-transform: translateY(-35%);
	    transform: translateY(-35%);
	}
		.post-info .title h2 { 
			font-family: 'Fjalla One', sans-serif; 
			text-align: center; 
			margin-top:30px; 
			color:#fff;
			font-size : 4rem;
			text-shadow: 2px 1px 10px rgba(150, 150, 150, 0.65);
		}