@import url("//hello.myfonts.net/count/357737");
@font-face {font-family: 'HalisGR-SRegular';src: url('webfonts/357737_0_0.eot');src: url('webfonts/357737_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/357737_0_0.woff2') format('woff2'),url('webfonts/357737_0_0.woff') format('woff'),url('webfonts/357737_0_0.ttf') format('truetype');} 
@font-face {font-family: 'TabletGothicSemiCondensed-ExtraBold';src: url('webfonts/357737_1_0.eot');src: url('webfonts/357737_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/357737_1_0.woff2') format('woff2'),url('webfonts/357737_1_0.woff') format('woff'),url('webfonts/357737_1_0.ttf') format('truetype');}
 
:root {
    --main-bg-color: tomato;
    --main-font-size: 16px;
    --main-font: 'TabletGothicSemiCondensed-ExtraBold';
}

html { 
    font-size: var(--main-font-size); 
    background: var(--main-bg-color); }

h1 { 
    font-family: var(--main-font);
    font-size: 10em;
    text-align: center; 
    color: ghostwhite; }