@import url('https://fonts.googleapis.com/css?family=Anton');

:root{
  --yellow: #eecb3d;
  --black: #0a0c08;
}

body { 
  background: var(--yellow); 
  width: 50vw; 
  margin: 0 auto;
  font-size:18px;
}

h1 { 
	color: var(--black);
  text-transform: uppercase;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size:10vw;
}